*{
    /* color: brown;
    background-color: wheat; */

    font-family: 'Courier New';
}

/* we can use comma to give same property to multiple element */

h1 , h3 {
    color: #b92b27;
}

#login{
    color: black;
    background-color: #ffffff;
}

#signup{
    color: white;
    background-color: #b92b27;
}

.upvote{

    background-color: green;
    color: aliceblue;
     
}

/* descendant selector */
/* p a{
    color: purple;
    background-color: yellow;
} 
*/

/* descendant selector using class */
.post a{
    color: purple;
    background-color: violet;
}

/* * descendant selector */ 
nav ul a{
    color: pink;
}
 /* or we can write
nav a {
    color: pink;
} */

nav ul li{
    color: dimgray;
} /* yaha pe only bullets ka color change hua anchor ka nhi cause hmne sirf list ka color change kra hai*/

/* nav ul li a{
    color: pink;
}   yaha pe anchor ka color change hoga */

/* sibling combinator */
.upvote + button{
    background-color: cornflowerblue;
}


/* child combintor */
div > input{
    background-color: bisque;
}

/* attribute selector */
input[type="text"]{

    color: #b92b27;
}

input[type="password"]{
    color: blue;
}

button[type]{
    background-color: aquamarine;
}

/* pseudoclass */
button:hover{
    background-color: black;
    color: white;
/* yeh property login and signup button pe work nhi kr rhi becausse of specificity */
/*specificity of id always hifgh*/
}

h3:hover{
    text-decoration:overline ;
}

/* active means when we click it then it will work  */
button:active{
    background-color: palevioletred;
}

p:active{
    font-weight: bold;
    color: green;
}

/* pseudo class and child class selector(input is parent and label is direct child) used  */
input[type="radio"]:checked+label{
    color: #b92b27;
    font-weight: 900;
}

div:nth-of-type(3){
    background-color: wheat;
}

h1::first-letter{
    color: black;
}

span>p::first-line{
    color: purple;
}

p::selection{
    background-color: yellow;
}