/* universal selector */
*{
    font-family: Courier New;
}

/* element selector */
h1{
    color: #1b74e4;
}

/* id selector */
#searchbtn{
    background-color: black;
    color: white;
}

/* class selector */
.userbtn
{
    background-color: aqua;
}

/* class selector used to give property to multiple same or different element  */
/* whereas id selector used to give property to single unique element  */

/* id selectors se bhi hm  we can give property to multiple same or different element but yeh correct way nhi hoga */

nav