/*   id > class > element 
    (#greet) > (.myclass) > ( h1)
    (100)    >  (010)     > (001)   */

h1{
    color: pink;
}

#greet{
    color: yellow;
}

.myClass{
   color: brown;
}

 /* id > class > element
         (.para) > (div p and  p)
         (010)   >  (001   + 001 = 002) */

div p {
    background-color: black;
}

.para{
    background-color: blue;
}

p{
    background-color: green;
}
/* id > class > element
        
div.greetDiv .greet (element class class)= (001 + 010 + 010 = 021)
.greetDiv p.greet  ( class element class) = (010 + 001 + 010 = 021)
.greetDiv .greet (class class ) = ( 010 + 010 = 020)*/

/* 021 = 021 >020

021=021 specificity same therefore here css will apply jo last mai aaya voh apply hoga 
 therefore color is blue */

div.greetDiv .greet{
    color: green;

}

.greetDiv p.greet{
    color: blue;
}

.greetDiv .greet{
    color: red;
}

h3{
    background-color: palevioletred !important;
}

h3{
    background-color: aqua;
}