div {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 20px;
    background-color: palevioletred;
    /* display: inline; */
    /* isse block element converted into inline 
    but as we know on inline element width , height,padding(top bottom) margins
     are not applicable  */

     /* so to avoid this problem so that block element conveted into inline element without loosing any property
    
     we can use disply:inline-block  */
     /* so the style is apply accornding to block element but the element behave like inline element */

    display: inline-block;
}

#hii {
    display: none;
    /* isse element gayab hojata hai */
}