h1{
    border: 2px solid black;
    width: 50%;
}

#outer {
    height: 300px;
    width: 300px;
    background-color: pink;
    /* padding: 40px; */
    border: 10px solid grey;
    margin: 50px;
}

#inner {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    border: 2px solid black;
    margin-left: 10%;

    /* it means margin 30 hogi coz margin parent ke size ie. width  ke relative hoti hai  */
    /* and yaha margin-left: 10%; yaha left side ie. parent width ke 10% ie (300/10)*100 = 30% hogi  */
    
}