div {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 0 ,1);
}
/* alpha used for color visibility ie. opacity of color
its value ranges= 0 to 1 and in hexcode=00 to ff 
 0=hidden=00 , 1=completely visible = ff   */
#alpha for hexcode {
    height: 200px;
        width: 200px;
        /* background-color: #ff0000ff;
        background-color: #ff000000; */
        background-color: #ffaa00e3;

        display: inline-block;
}

#opacity {
    opacity: 0.5;
}

/* opacity works on visibility of elemet as well as color  */
/* alpha works only for visibility of color  */