/* div{
    height: 200px;
    width: 200px;
    background-color: green;
    /* transiton: 2s 1s;   shorthand */   
    /* transition: property|duration|timing-function|delay   */
    /* transition-duration: 2s;
    transition-delay: 1s;  
     /* kitne delay aur time ke baad prop change horhi hai  */

     /* margin-bottom: 30px;
}

div:hover{
    background-color: black;
    border-radius: 50%;
} */ 

div{
    height: 100px;
    width: 100px;
    background-color: burlywood;
    /* margin-top: 400px; */
    /* isse pta nhi ajeeb result araha hai  */
    margin-top: 10px;
    margin: 0 auto;
    transition: margin-top 2s ease-in-out 0.1s;
  
}

div:hover{
    /* margin: 0 auto; */
    /* isse ajeeb result araha hai  */

    margin-top: 400px;
    background-color: palevioletred;
}