div {
    height: 500px;
    width: 500px;
    background-image: url("bg2.jpeg");
    background-size: auto;
    color: aliceblue;

    /* contain: ; / cover / auto  */
    /* mostly we use cover coz isme img crop hojati hai if size mai bdi or small hai div se */
    /* contain mai if img smaller or greater than div size then it repeat the img to fit in div  */
    /* auto mai if img size small or greater than div then img stretch hoke sometimes repeat hoti hai  */

}