#container {
    height: 500px;
    width: 80%;
    background-color: rgb(165, 238, 238);
    margin: auto;
    border: 2px solid blue;
    box-shadow: 2px 2px 10px blue;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    

    /* justify-space */
        /* justify-content: space-around; */
        /* justify-content: space-between; */
        justify-content: space-evenly;
}

h1 {
    text-align: center;
}

#container div {
    height: 60px;
    width: 60px;
}
