h1 {
    text-align: center;
}

#container {
    height: 600px;
    width: 80%;
    margin: auto;
    border: 4px solid black;
    box-shadow: 5px 5px 10px purple;
    background-color: azure;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
  
    
    /*align itmes works along cross axis   1) flex-start(for row = top to bottom)therefore align to starting pt ie. top
                                           2)flex-end(for row) therefore align to end side ie.bottom

                                            1) flex-start(for column=left to right)therefore align to starting pt ie.left
                                             2)flex-end(for row) therefore align to end side ie.right

        but for baseline if we not use flex-wrap then there is no cross line
        then the div or element arranged according to text or content baseline */
                                           
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    align-items: baseline;   /* baseline element ke ander ke text ko same line mai laata hai 
                                   and baseline mai "align-itmes: flex-start " by default hota hai*/

/*so baseline arranged the flex element as in manner so that the content inside the element will be at same line */
/*so div or element arranged according to text or content baseline */
/*priority is to content baseline rather than the div size*/

}

#container div {
    height: 100px;
    width: 300px;
    font-size: 1.5em;
    text-align: center;
}