#container {
    height: 600px;
    width: 80%;
    margin: auto;
    border: 4px solid black;
    box-shadow: 5px 5px 10px purple;
    background-color: azure;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

    align-content: flex-start;
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: baseline; */
}
/* align-self similar to align-item but align-self is for single element and align-item is for grp os element  */
  /* priority= align-self > align-content and align item */
#orange{
    /* align-self: flex-start; */
    align-self: flex-end;
    /* align-self: center; */
    /* align-self: baseline; */
}

#container div {
        height: 100px;
        width: 300px;
        font-size: 1.5em;
        text-align: center;
    }