#container{
    height: 600px;
    width: 80%;
    margin: auto;
    border: 2px solid black;
    box-shadow: 3px 3px 11px greenyellow;
    background-color: aquamarine;
    display: flex;
    /*/flex-direction: row; */ /*then flex-basis will work on width*/
    flex-direction: column; /*then flex-basis will work on height*/
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;

}



#orange{
    align-self: flex-start;
    flex-basis: 50px;
    /* 50px width display nhi hogi bcoz orange ki content ki font size jyaada hai if usko remove krenge then 50px width hogi  */
}

#blue{
    flex-basis: 400px;
    /* if flex-wrap ko remove krenge toh flex-basis  work nhi krega coz container mai extra space nhi hai if extra space according to inc main size hota toh flex-wrap remove krne pe bhi 
    flex basis apply hotA */
    /*  flex-basis work krta if main size reduce krna ho even extra space is available or not */
}

#container div{
    height: 100px;
    width: 300px;
    font-size: 1.5em;
}