#container {
    height: 600px;
    width: 600px;
    margin: auto;
    border: 2px solid black;
    box-shadow: 3px 3px 11px greenyellow;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
}

#container div {
    height: 100px;
    width: 50px;
}

#orange{
    flex: 0 2 100px;
}

/* flex shorthand mai grow shrink basis tino prop eksaath work nhi krti 
toh voh work krti hai according to space availability in container */

/* if container no extra space and elements gets overflow then shrink works
if container have extra space then grow and basis work  but priority goes to grow */