h1{
    text-align: right;
    /* text-align: justify; */

    
    /* border: solid;
    width: 50%; */

    /* hence the text-align: ; yeh align hota hai according to width: ;
    not a document */
    /* 
    ie. width: 50%; hai and text-align: right;  hai then
    text center mai dikhega but voh align toh right mai hua hai 
    because of width */
    /* therefore text-align: ; is a relative not absolute  */

    font-weight: normal;
    /* text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-style: wavy; */
    text-decoration: underline wavy blue;
    /* text-decoration: wavy blue underline ; */

    letter-spacing: 10px;
    font-family: arial;


}
h6{
    text-align: justify;
    text-decoration: indianred underline;
    /* color + decoration*/
    /* color + style   is wrong*/
    /* color + decoration is correct */
    /* decoration + style  is correct*/
    /* text-decoration: underline wavy; */
    /* text-decoration: underline wavy blue; */
    /* tino eksaath likh skte in any order  */

}

a{
    text-decoration: none;
    /* none se sbhi line remove hojati hai  */
}

h2{
    text-align: left;
    font-weight: lighter; /* as it is lighter than parent and parent is paragrsph see in html line 17 */
    text-decoration: overline;
    text-decoration-style: dotted;
    font-size: 15px;

}

p{ 
    text-align: justify;
    text-align: center;
    text-decoration: line-through;
    text-decoration-color: palevioletred;
    line-height: normal;
    /* line-height: 3;*/ /* relative to normal */
    
}

h3{
    text-align: end;
    /* letter-spacing: normal; */
    letter-spacing: 10px;
}

/* in english 
start = :left
ent = :right

in arabic 
start= :right
end = :left
because hm arabic mai right to  ( start to end) left likhte hai 
and english mai left to right ( start to end) */ 

h4{
    text-align: justify;
    text-decoration: overline wavy green;
    line-height: 3;
}

h5{
    line-height: 0.6;
}